<!-- Footer -->
<footer class="bg-dark p-3 text-light">
    <div class='container'>
        <div class='row text-center justify-content-center'>
            <div class='col-12'>
                <a href='#'>Politique de confidentialité</a>
                |
                <a href='#'>Conditions d'utilisation</a>
            </div>
            <div class='col-12'>
                &copy; Copyright ESIH - Tous droits réservés.
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->