{% load static %}
{% load i18n %}
<!-- Footer -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>ESIH MakerLab</h3>
            <h5>The home of creativity</h5>
            <p>
            Plateforme numérique permettant de gérer le laboratoire de prototypage rapide (Cours, Membership, Équipements ...)
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="{% url 'home' %}">{% trans 'Acceuil' %}</a></li>
              <li><a href="{% url 'about' %}">{% trans 'À propos' %}</a></li>
              <li><a href="#">{% trans "Conditions d'utilisation" %}</a></li>
              <li><a href="#">{% trans 'Politique de confidentialité' %}</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>{% trans 'Contactez-nous' %}</h4>
            <p>
              2ème Ruelle Nazon<br>
              Port-au-Prince ,Haiti <br>
              <strong>Phone:</strong> +509 48 43 83 40<br>
              {% comment %} <strong>Email:</strong> madsen@madsendynamics.com<br> {% endcomment %}
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
              <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
              <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
              <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4 class="mb-2">{% trans "Language" %} </h4>
            <form action="{% url 'change_language' %}" method="post" class="pb-1">
                {% csrf_token %}
                <select name="language" class="form-control" onchange="this.form.submit()">   
                    {% get_available_languages as LANGUAGES %}
                    {% get_current_language as LANGUAGE_CODE %}
                    {% for language in LANGUAGES %}       
                    <option value="{{ language.0 }}" {% if language.0 == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.0|language_name_local }} ({{ language.0 }})
                    </option>
                    {% endfor %}
                </select>
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Makerlab</span></strong>. 2021
      </div>
    </div>
  </footer><!-- End Footer -->

<!-- Footer -->