{% load static %}
<!--Main Navigation-->
<header>
    <nav class="navbar shadow-sm navbar-expand-lg navbar-dark bg-dark py-3">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><strong>MakerLab</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.get_full_path == '/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if request.get_full_path == '/courses/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'courses_home' %}">Courses</a>
                    </li>
                    <li class="nav-item {% if request.get_full_path == '/projects/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                    </li>
                    <li class="nav-item {% if request.get_full_path == '/about/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <div class='dropdown d-flex'>
                    <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src='{% static "img/user.png" %}' height=30 class='pl-5' />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item mb-2 text-muted" href="#"><strong>{{user.username}}</strong></a>
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <a class="dropdown-item" href="#">Log Out</a>
                    </div>
                </div>
                {% else %}
                    <a class="btn btn-light ml-2" data-toggle="modal" data-target="#loginModal">login</a>
                    <a href="#" class='btn btn-outline-light ml-2'>Signup</a>
                {% endif %}
                
            </div>
        </div>
    </nav>



</header>
<!--Main Navigation-->
