{% load static %}
<!--Main Navigation-->
<header>
    <nav class="navbar shadow navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/Makerlab.png' %}" width="200px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.get_full_path == '/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if request.get_full_path == '/courses/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'courses_home' %}">Next courses</a>
                    </li>
                    
                    <li class="nav-item {% if request.get_full_path == '/about/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <div class='dropdown d-flex'>
                    <a class="dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle" src='{% if user.photo %}/media/{{user.photo}}{% else %}{% static "img/user.png" %}{% endif %}' height=30 width=30 class='pl-5' />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item mb-2 text-muted" href="#"><strong>{{user.get_full_name}}</strong></a>
                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                    </div>
                </div>
                {% else %}
                    {% if not request.get_full_path == '/account/register/' %}
                        <a href="{% url 'login' %}" class="btn btn-light ml-2">login</a>
                        <a href="{% url 'register' %}" class='btn btn-outline-light ml-2'>Signup</a>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
    </nav>



</header>
<!--Main Navigation-->
