<div class="container">
    <div class="modal" id="login_modal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Please Login Here</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              Modal body..
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
                <p><a href="#">Password forgotten?</a></p>
                <p>Not a member?<a href="">Create a account</a></p>
            </div>
      
          </div>
        </div>
      </div>

</div>
<!-- The Modal -->
