<div class="modal fade" role="dialog" id="login_modal">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
            </div>            
            <div class="modal-body">
                <h4 class="modal-title text-center text-danger px-2">Sign In With</h4>

                <p>
                    <a href="#" class="btn"><i class="icofont-github"></i>Github</a>
                    <a href="#" class="btn"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA4klEQVRIie2V4Q2DIBSEvxE6AiMwgiN0gzqKG9QN6gjdQEZwBDfADdofYEIoPEFN+sdLLjHkuHfh8RAunIAGeAIjYD1Hv6aOGCtv9NngC7jVmmufdMt8ZX+G+QIYz3B9qE0fGyzAPaHrapODa2hsXn2+EoaoQCr5IZjAfBY0o0AtFQjTmwJNit1fC5hAaAVNyImKvvWRuJXEmT1KEjeR2CI3LR7KuSDQz6BZ4JHQtfxOfFtSQOEGLG7e+ormHsCpxHyFzhTJcWLHxCvgXWA+7DEPoXE3xeCaOPvvjoM/nAsAfAEkTaFccMndIAAAAABJRU5ErkJggg=="/>Google</a>
                </p>
                <form action="">
                    <div class="form-group">
                        <label for="email">Your Email</label>
                        <input type="text" class="form-control" placeholder="Ex: Jae@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="password">Your Password</label>
                        <input type="text" class="form-control" placeholder="password please">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning">Sign In</button>        
                    </div>
                </form>
                <p>Not a member?<a href="#">Create your account</a></p>
            </div>

        </div>

    </div>
</div>