{% extends 'bases/index.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="about_banner">
    <div class="overlay p-5">
        <div class="container">
            <div class="text-white text-center">
                <h1 class="font-weight-bold">ESIH Makerlab</h1>
                <h3>Le meilleur endroit pour le faire soi-même ou avec d'autres</h3>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container p-5">
        <div class="text-center">
            <h3 class="font-weight-bold">C'est quoi un makerlab ?</h3>
            <p>
                Les MakerSpaces servent de point de rencontre où les communautés
                des Makers (créateurs) se connectent pour travailler sur des
                projets significatifs, conseillés par des mentors expérimentés et utiles,
                en utilisant les nouvelles technologies et les outils traditionnels. Ils peuvent
                être trouvés dans différentes formes et tailles, mais tous sont
                caractérisés par ce qu'ils nous permettent de faire.
            </p>
        </div>
    </div>
</div>
<div class="bg-secondary p-5">
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="text-white font-weight-bold">Centres d'intérêts</h3>
        </div>
        <div class="d-flex flex-row justify-content-around">
            <div class="row mt-5">
                <div class="col-12 col-md-4">
                    <img src="{% static 'img/register.svg' %}" class="col-12" alt="" height="100px">
                    <h2 class="text-center text-white">Apprendre</h2>
                </div>
                <div class="col-12  col-md-4">
                    <img src="{% static 'img/login.svg' %}" class="col-12" alt="" height="100px">
                    <h2 class="text-center text-white">Projets</h2>
                </div>
                <div class="col-12  col-md-4">
                    <img src="{% static 'img/3d.svg' %}" class="col-12" alt="" height="100px">
                    <h2 class="text-center text-white">Communautés</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %}
<div class="container text-center mt-5 mb-2">
    <h1 class="mb-0">Meet our agents</h1>
    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</span>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/uppKNuF.jpg" width="90">
                <h5 class="mt-3 name">Samuel Plamer</h5><span class="work d-block">Comapay agents house</span><span class="work d-block">real estate</span>
                <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                <div class="mt-4">
                    <h6 class="v-profile">View Profile</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/oJmLthK.jpg" width="90">
                <h5 class="mt-3 name">Nancy Markus</h5><span class="work d-block">Comapay agents house</span><span class="work d-block">real estate</span>
                <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                <div class="mt-4">
                    <h6 class="v-profile">View Profile</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/HFpxxJz.jpg" width="90">
                <h5 class="mt-3 name">Martha Col</h5><span class="work d-block">Comapay agents house</span><span class="work d-block">real estate</span>
                <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                <div class="mt-4">
                    <h6 class="v-profile">View Profile</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/MZm1LNz.jpg" width="90">
                <h5 class="mt-3 name">Marry Jones</h5><span class="work d-block">Comapay agents house</span><span class="work d-block">real estate</span>
                <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                <div class="mt-4">
                    <h6 class="v-profile">View Profile</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}
{% endblock content %}