{% extends 'bases/index.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
   
{% endblock %}

{% block content %}
    <div class="main_home">
        <div class='overlay'>
            <div class="container mt-4">
                <div class='row justify-content-center text-white'>
                    <div class="col-12 col-md-10 col-lg-8">
                        <h1 class='font-weight-bold'>{% trans 'Explorer' %}</h1>
                        <h2>{% trans 'explorer des projets et des cours' %}</h2>
                    </div>
                </div>
	            <div class="row justify-content-center mt-2">
                        <div class="col-12 col-md-10 col-lg-8  text-white">
                            <form action="{% url 'search_results' %}" class="card  opacity-6 card-sm">
                                <div class="p-2 pr-3 pl-3 row no-gutters align-items-center">
                                    <div class="col-auto pt-1">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input required name='q' class="form-control form-control-md form-control-borderless " type="search" placeholder="Search topics or keywords" autocomplete="off">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-md btn-main " type="submit" id='opacity-1'>{% trans 'Recherche' %}</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='container p-5'>
        <div class='row justify-content-center'>
            <div class='text-center'>
                <h2 class='font-weigth-bold typed'>{% trans 'Assistez à un atelier sur' %} <span id='typed'></span></h2>
                <h4 class='text-muted'>{% trans 'Rejoignez de grands esprits sur de beaux sujets' %}</h4>
                <a href="https://forms.gle/nQaLtF9Viu2eAvaN7" class='btn btn-dark btn-lg'>{% trans 'Posez votre candidature' %}</a>
            </div>
        </div>
    </div>
    
{% endblock %}

 {% block last_content %}
    {{block.super}}
     <div id='typed-strings'>
        <p>Microcontrollers</p>
        <p>PCB design</p>
        <p>C++ programming<p>
        <p>Python programming<p>
        <p>3D printing</p>
        <p>Robotics<p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script>
        var typed = new Typed('#typed', {
            stringsElement: '#typed-strings',
            backSpeed: 5,
            typeSpeed: 30,
            smartBackspace: true,
            loop: true,
            backDelay: 2000
        });
    </script>
 
 {% endblock %}