{% extends 'bases/index.html' %}
{% load static %}


{% block extra_head %}
   
{% endblock %}

{% block content %}
    <div class="main_home">
        <div class='overlay'>
            <div class="container mt-5">
                <div class='row justify-content-center text-white'>
                    <div class="col-12 col-md-10 col-lg-8">
                        <h1 class='font-weight-bold'>Explore</h1>
                        <h2>explore people, projects, space and courses</h2>
                    </div>
                </div>
	            <div class="row justify-content-center mt-2">
                        <div class="col-12 col-md-10 col-lg-8  text-white">
                            <form class="card  opacity-6 card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless " type="search" placeholder="Search topics or keywords">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-dark " type="submit" id='opacity-1'>Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5 justify-content-center text-center">
            <div class="col-md-4 col-sm-12">
                <i class='fa fa-4x fa-book'></i>
                <h4 class='font-weight-bold'>Courses</h4>
                
            </div>
            <div class="col-md-4 col-sm-12">
                <i class='fa fa-4x fa-user-tie'></i>
                <h4 class='font-weight-bold'>Membersip</h4>
            </div>
            <div class="col-md-4 col-sm-12">
                <i class='fa fa-4x fa-robot'></i>
                <h4 class='font-weight-bold'>Projects</h4>
            </div>
        </div>
    </div>
    <div class=" mt-5">
        <div class="container">
            <div class="d-flex flex-column mt-5 p-3 justify-content-center align-items-center text-center">
                <h4 class='font-weight-bold mt-4'>Innovate and Do It Yourself</h4>
                <h6 class=''>Intervention by Gian Michele Toglia, former Head at the MakerLab</h6>
                <iframe class="m-4" width="650"  height="350"
                    src="https://www.youtube.com/embed/m2puqY6wec8">
                    </iframe> 
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="container">
            <div class='row text-center font-weight-bold h4 p-3'>
                <div class='col-md-4'>
                    <i class="fa fa-phone"></i>
                    Need Help ?
                </div>
                <div class='col-md-4'>
                    +509 48 43 83 30
                </div>
                <div class='col-md-4'>
                    makerlab@esih.edu
                </div>
            </div>
        </div>
    </div>
{% endblock %}

