{% extends 'bases/index.html' %}
{% load static %}
{% load socialaccount %} 

{% block extra_head %}
   
{% endblock %}

{% block content %}
    <div class='text-center mt-3'>
        <h1>Django Allauth Tutorial</h1>

        {% if user.is_authenticated %}
            <p>Welcome {{ user.username }} !!!</p>
        {% else %}
            <a href="{% provider_login_url 'github' %}" class='btn btn-primary btn-github'>Github login</a>
            <a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2 login</a>
        {% endif %}
    </div>
    

{% endblock %}

