{% extends 'bases/index.html'%}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="container row col-12 pt-4 m-auto">
        <div class="container">
            <div class="row">
                <div class=" col-md-5 col-12   text-center "  >
                    <img class="rounded-circle border " src="{% if resume.user.photo %}/media/{{resume.user.photo}}{% else %}{% static "img/user.png" %}{% endif %}"  alt="Profil" style="width:150px;height:150px" >
                </div>
                <ul class="col-12 col-md-7 nav m-auto">
                    <li class=" col-12 col-md-9 col-sm-12  " >
                        <span class="h6">{% trans "Firstname:" %} </span> {{resume.user.first_name}}
                    </li>
                    <li class=" col-12 col-md-9 col-sm-12  " >
                        <span class="h6">{% trans "Lastname:" %} </span> {{resume.user.last_name}} 
                    </li>
                    <li class=" col-12 col-md-9 col-sm-12  " >
                        <span class="h6">{% trans "Email:" %} </span> {{resume.user.email}}
                    </li>
                    <li class=" col-12 col-md-9 col-sm-12  " >
                        <span class="h6">{% trans "Phone:" %} </span> {{resume.user.phone}}
                    </li>
                    <li class=" col-12 col-md-9 col-sm-12  " >
                        <span class="h6">{% trans "Country:" %} </span> {{resume.user.country.name}}
                    </li>
                    {% if resume.user.is_teacher %}
                        <li class=" col-12 col-md-9 col-sm-12  " >
                            <span class="h6">{% trans "Teacher:" %} </span>  {% trans "oui" %}
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class='container mt-4 '>
                {% if resume.tags %}
                    <div class="p-3 col-12">
                        <strong>{% trans "Tags" %}:</strong>
                        {% for tag in resume.tags %}
                            <span class="badge bg-secondary text-white" >{{tag}}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                <h3 class="card-header">{% trans "Resume" %}</h3>
                <p class="p-3" >{{resume.resume}}</p>
                <h3 class="card-header">{% trans "Skills" %}</h3>
                <p class="p-3" >{{resume.skill_summary}}</p>
                <h3 class="card-header">{% trans "Experiences" %}</h3>
                <p class="p-3" >{{resume.experience_summary}}</p>
                <h3 class="card-header">{% trans "Projects" %}</h3>
                <p class="p-3" >{{resume.project_summary}}</p>
                <h3 class="card-header">{% trans "Training" %}</h3>
                <p class="p-3" >{{resume.training_summary}}</p>
                <h3 class="card-header">{% trans "Hobbies" %}</h3>
                <p class="p-3" >{{resume.hobbies}}</p>
                <h3 class="card-header">{% trans "Linked Accounts" %}</h3>
                <div class="p-3 col-12">
                    <a class="badge bg-light text-body" href="{{stackoverflow}}"><i class="fa fa-stack-overflow" aria-hidden="true"></i> stackoverflow</a>
                    <a class="badge bg-light text-body" href="{{Linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin</a>
                    <a class="badge bg-light text-body" href="{{github}}"><i class="fa fa-github" aria-hidden="true"></i> github</a>
                    <a class="badge bg-light text-body" href="{{twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i> twitter</a>
                    <a class="badge bg-light text-body" href="{{facebook}}"><i class="fa fa-facebook" aria-hidden="true"></i> facebook</a>
                    <a class="badge bg-light text-body" href="{{instagram}}"><i class="fa fa-instagram" aria-hidden="true"></i> instagram</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
