.intro-2 {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (42).jpg")no-repeat center center;
  background-size: cover;
}
.view {
  margin-top: -56px;
}
.navbar {
  z-index: 1;
  background-color: transparent;
}
.top-nav-collapse {
  background-color: #4285F4;
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #4285F4;
  }
}
html,
body,
header,
.view {
  height: 100%;
}