{% extends 'bases/index.html'%}


    {% block extra_body %}
    
        <div class="container"  >
            <div class="col-xs-12 col-sm-10 col-md-6 offset-xs-0 offset-sm-1 offset-md-3  " >

            {% block content %}
                

            {% endblock %}
            <br><br>
            <div class="form-group text-center  " >
                    
                <Copyrights-> © Copyright 2020. All rights reserved</Copyrights->
                
            </div>
            </div>
        </div>

    {% endblock %}