{% extends 'bases/index.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block extra_head %}
    <style>
        body{
            background-color: #f9f9f9;
        }
    </style>
{% endblock %}

{% block content %}
    <div class='container-fluid mt-3'>
        <div class='row justify-content-center'>
            <div class="col-12">
                <ul class="list-unstyled multi-steps mt-4">
                    <li>{% trans 'Selection de la formation' %}</li>
                    <li class="is-active">{% trans 'Renseignements personnels' %}</li>
                    <li>{% trans 'Paiement' %}</li>
                    <li>{% trans 'Confirmation' %}</li>
                </ul>
            </div>   
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12">
                <div class="card mt-3 mb-5">
                    <div class="card-body">
                        <h3 class="card-title">Renseignements personnels</h3>
                        <form method="post">
                            {% csrf_token %}
                            {{form|crispy}}
                            <input type="submit" class="btn btn-primary btn-block" value="enregistrer">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}