{% extends 'bases/index.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}

    <style>
        body{
            background-color: #f9f9f9;
        }
    </style>

{% endblock %}

{% block content %}
    <div class='container mt-3'>
        <div class='row'>
            <ul>
                <ul class="list-unstyled multi-steps">
                <li>course selection</li>
                <li class="is-active">enrollement confirmation</li>
                <li>payement success</li>
            </ul>
        </div>
        <div class='row justify-content-center'>
            <div class='card'>
                <div class='card-body'>
                    <h3 class='card-title'>Introduction to Algorithms</h3>
                    <ul class="list-group">
                        <li class="list-group-item">November 17 2020 15:30 AM</li>
                        <li class="list-group-item">Tutor Meritus Freedy</li>
                        <li class="list-group-item">1000 HTG Enrollement Fee</li>
                    </ul>
                    
                     <div class='row justify-content-center'>
                        <a href="{% url 'proceed' %}" ><img src="{% static 'img/mcbuttond.png' %}" height=44 class='mt-3'></a>
                     </div>
                </div>
            
        </div>
    </div>
{% endblock %}

{% block last_content %}
{% endblock %}