{% extends 'bases/index.html' %}
{% load static %}

{% block content %}
    <!--Main Layout-->
    <main>
        <div class="container-fluid mt-5">
        <div class="text-center mt-auto">
            <h2>Advanced Double Navigation with slim Side-nav nad fixed Navbar:</h2>
            <br>
            <h5>1. Fixed slim Side-nav, hidden on small devices.</h5>
            <h5>2. Fixed Navbar. It will always stay visible on the top, even when you scroll down.</h5>
        </div>

        <div style="height: 2000px">
        
        </div>
        </div>
    </main>
    <!--Main Layout-->
{% endblock %}