{% extends 'bases/index.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}

    <style>
        body{
            background-color: #f9f9f9;
        }
    </style>

{% endblock %}

{% block content %}
    {% include 'partials/_subheader.html' with subheader_title='Courses' %}
    <div class='container mt-4'>
        <div class='row'>
            <div class='col-md-8 col-12'>
                <div class='row col-12 mt-3 mb-3'>
                    {% if courses %}
                        <div class='col-md-6 col-12'>
                            {% for course in courses %}
                            <div class="card shadow">
                                <img src="{% static 'img/book.svg' %}" class="card-img-top p-2" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{course.title}}</h5>
                                    <p class="card-text">{{course.description}}</p>
                                </div>
                                <div class='card-body p-0 px-3'>
                                    <a class='btn btn-primary btn-block' href='#'>{% trans "Enroll" %}</a>
                                    <a class='btn btn-outline-secondary btn-block' href='#'>{% trans "Learn more" %}</a>
                                </div>
                                <div class="card-body">
                                    <div class='row text-muted'>
                                        <div class='col-6'>
                                            <i class='fa fa-chair'></i>
                                            {{course.remain}} {% trans "left" %}
                                        </div>
                                        <div class='col-6 text-right'>
                                            <i class='fa fa-calendar-alt'></i>
                                            {{course.date}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}

                    {% endif %}
                </div>
            </div>
            <div class='col-md-4 col-12'>
                <div class="card shadow-sm">
                    <div class="card-header">
                        Filters
                    </div>
                    <div class="card-body">
                        <form method="get" class='row justify-content-center align-items-center text-center'>
                            <div class='col-12 mt-2'>
                                <h6 class='font-weight-bold'>Date (From) </h6>
                                <input type='date' name='date' class='form-control'>
                            </div>
                            <div class='col-12 mt-2'>
                                <h6 class='font-weight-bold'>Price</h6>
                                <div class="slidecontainer">
                                    <input type="range" name='price' min="500" max="10000" value="50" class="slider" id="myRange">
                                </div>
                                <p><span id='demo'></span> HTG</p>
                            </div>
                            <div class='col-12 mt-2'>
                                <h6 class='font-weight-bold'>Tags</h6>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Tags</label>
                                    </div>
                                    <select name='tag' class="custom-select" id="inputGroupSelect01">
                                        <option value='' selected>none</option>
                                        <option >c++</option>
                                        <option >electronics</option>
                                        <option >arduino</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 mt-2 mb-2">
                                <input type="submit" class='btn btn-primary btn-block' href='#' value="{% trans "Start filtering" %}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
        {% if courses %}
            {% if courses.has_other_pages %}
                <ul class="pagination">
                    {% if courses.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ courses.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
                    {% endif %}
                    {% for i in courses.paginator.page_range %}
                    {% if courses.number == i %}
                        <li class="page-item active"><a class="page-link" href="">{{ i }} <span class="sr-only">{% trans "(current)" %}</span></a></li>
                    {% else %}
                        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if courses.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ courses.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
            output.innerHTML = this.value;
        }
    </script>
{% endblock %}