{% extends 'bases/index.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}

    <style>
        body{
            background-color: #f9f9f9;
        }
    </style>

{% endblock %}

{% block content %}
    <div class='container-fluid mt-3'>
        {% if success %}
            <div class='row justify-content-center'>
                <div class="col-12">
                    <ul class="list-unstyled multi-steps mt-4">
                        <li>{% trans 'Selection formation' %}</li>
                        <li>{% trans 'Renseignements personnels' %}</li>
                        <li>{% trans 'Paiement réussi' %}</li>
                        <li class="is_active">{% trans 'Confirmation' %}</li>
                    </ul>
                </div>   
                <div class='col-md-4 col-sm-12'>
                    <div class='card mt-2 mb-5'>
                        <div class='card-body'>
                            <h4 class='card-title'>Paiement réussi !</h4>
                            <p>Participation confirmée pour le {% language 'fr' %}
                            {{courseDate.start_date|date:'D, d N Y'}} à Ecole Supérieure Infotronique
                            {% endlanguage %}  à notre formation {{courseDate.course.title}}</p>
                            <p>N'oubliez pas: 
                                {{courseDate.course.note}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class='row justify-content-center text-center'>
                <div class="col-6">
                    <div class='card mt-3 mb-5'>
                        <div class='card-body'>
                            <h3 class='card-title mt-2'>{% trans "Echec de paiement" %}</h3>
                            {% include 'partials/_alerts.html' with messages=messages no_fade=True %}
                            <a class='btn btn-primary col-md-4 m-auto mb-5' href="{% url 'courses_home' %}">{% trans "Retour" %}</a>
                        </div>
                    </div>
                </div>     
            </div>
        {% endif %}
    </div>
{% endblock %}